/* ==========================================================================
   HOME
   ========================================================================== */
.inner-wrapper {
  position: absolute;
  top: 6em;
  left: 0;

  @include breakpoint($bp-medium) {
    position: relative;
  }
}
