/* ==========================================================================
   FOOTER
   ========================================================================== */
footer {
  background: $color-secondary-background;
}

.footer-main {
  position: relative;
  overflow: hidden;
  padding: 1em;
}
