/* ==========================================================================
   FOOTER
   ========================================================================== */

.footer-main {
  position: relative;
  overflow: hidden;
  padding: 1em 1em;
  border-color: darken(white, 10%);

}
