/* ==========================================================================
   GRID
   ========================================================================== */
$susy: (columns: 12, gutters: 1/4, math: fluid, output: float, global-box-sizing: border-box, gutter-position: inside, debug: (image: show, color: rgba(#66f, 0.25), output: overlay, toggle: top right));
$widelayout: 24 1/4 fluid float inside;
$mediumlayout: 12 1/4 fluid float inside;
// main {
//  @include container(80%);
// }
// nav {
//   @include container(100%);
// }
/*
   Small - Mobile first approach
   ========================================================================== */
header {
  @include span(12);
}

.header-wrapper {
  @include span(10 at 0 of 12);
}

.nav-toggle {
  @include span(2 at 11 of 12 last);
}

.nav-main,
.footer-main {
  @include span(12);
}

main {
  @include span(10);
  margin-right: span(1) + gutter();
  margin-left: span(1) + gutter();
}

footer {
  @include span(12);
}
/*
   Medium
   ========================================================================== */
@include susy-breakpoint($bp-medium, $mediumlayout) {
  .header-wrapper {
    @include span(4 at 0 of 12);
  }

  .nav-main {
    @include span(8 at 4 of 12 last);
  }

  main {
    @include span(8);
    margin-right: span(2) + gutter();
    margin-left: span(2) + gutter();
  }
}
/*
   large
   ========================================================================== */
@include susy-breakpoint($bp-large, $widelayout) {
  // .header-container {
  //   @include span(24);
  //   //margin-left: span(2);
  // }

  .header-wrapper {
    @include span(8 at 0 of 24);
    margin-left: span(2);
  }

  .nav-main {
    @include span(12 at 10 of 24 last);
    margin-right: span(2);
  }



  main {
    @include span(12);
    margin-right: span(6);
    margin-left: span(6);
  }

  .footer-main {
    @include span(14);
    margin-right: span(5);
    margin-left: span(5);
  }
  // footer {
  //   @include span(24);
  //   }
  // aside {
  //   @include span(6  at 19);
  // }
}
// 960 px grid
//@include layout (12 (60px 10px) split static);
