/* ==========================================================================
   HEADER
   ========================================================================== */
.header-container {
  margin: 0;
  padding: 0;
  font-family: $heading-font;
  top: 0;
  left: 0;
  height: 6em;
  background-color: $color-secondary-background;

  //@include alpha-attribute("background-color", rgba($palette-white .8), black);
  //@include alpha-attribute("border-color", rgba($palette-white .8), black);
}

.header-container-fixed {
  position: fixed;
  width: 100%;
}

.header-wrapper {
  position: relative;

  // display: flex;
  // flex-flow: row wrap;
  // justify-content: flex-start;
  height: 6em;
  background-color: inherit;
  z-index: map-get($zindex, header);
}

.header-title {
  @extend %vertical-align;
  @include type-scale(large);

  // display: flex;
  // flex-flow: row wrap;
  // align-items: center;
  color: $color-base-background;

  @include breakpoint($bp-large) {
    @include type-scale(xlarge);
  }
}

.header-logo {
  @extend %vertical-align;
  float: left;
  width: 3em;
  height: 3em;
  fill: $color-primary;

  @include breakpoint($bp-large) {
    width: 4em;
    height: 4em;
  }

  // @include breakpoint($bp-small) {
  //     display: block;
  // }
}
