/* ==========================================================================
   HEADER
   ========================================================================== */
.header-container {
  @extend %cf;
  font-family: $heading-font;
  height: 6em;
  background-color: $color-secondary-background;
}

.header-wrapper {
  height: 6em;
  background-color: inherit;
  position: relative;
  z-index: map-get($zindex, header);

}

.header-title {
  // margin: 0;
  // padding: 0;
  height: 6em;
  position: relative;
  z-index: inherit;
  background-color: $color-secondary-background;
  // display: flex;
  // justify-content: flex-start;
}

.header-name {
  @extend %vertical-align;
  @include type-scale(large);
  // display: flex;
  // flex-flow: row wrap;
  // align-items: center;
  color: $color-base-background;

  @include breakpoint($bp-large) {
    @include type-scale(xlarge);
  }
}

.header-logo {
  @extend %vertical-align;
  float: left;
  width: 3em;
  height: 3em;
  fill: $color-primary;

  @include breakpoint($bp-large) {
    width: 4em;
    height: 4em;
  }

  // @include breakpoint($bp-small) {
  //     display: block;
  // }
}
