/* ==========================================================================
   HEADER
   ========================================================================== */
.header-container {
  font-family: $heading-font;
  z-index: 2;
  top: 0;
  left: 0;
  height: 6em;
  background-color: #fff;
  
  //@include alpha-attribute("background-color", rgba(white, .8), black);
  //@include alpha-attribute("border-color", rgba(white, .8), black);
}

.header-container-fixed {
  position: fixed;
  width:100%
}

.header-wrapper {
  position: relative;
  z-index: 2;
  height: 6em;
  word-wrap: break-word;
  background-color: #fff;
}

.header-title {
  @extend %vertical-align;

  font-size: 2em;
  line-height: 0.9em;
  padding-left: 2em;
  vertical-align: middle;

  @include breakpoint($bp-large) {
    font-size: 2.95em;
    line-height: 3.2em;
  }

  &:after {
    content: ' Guilmette';
    color: $color-secondary;
  }
}

.header-logo {
  @extend %vertical-align;
  float: left;
  width: 3em;
  height: 3em;

  @include breakpoint($bp-large) {
    width: 4em;
    height: 4em;
  }
  // @include breakpoint($bp-small) {
  //     display: block;
  // }
}
