/* ==========================================================================
   NAVIGATION
   ========================================================================== */
.nav-toggle {
  color: $color-primary;
  display: inline-block;
  float: right;
  padding-top: 2em;
  position: relative;
  cursor: pointer;
  background-color: $color-secondary-background;
  z-index: inherit;

  @include breakpoint($bp-medium) {
    display: none;
  }
}

.nav-main {
  position: relative;
  background-color: $color-base;
  z-index: map-get($zindex, dropdown);
  margin: 0;
  padding: 0;

  @include breakpoint($bp-medium) {
    background-color: inherit;
  }
}

.nav-main-list {
  list-style: none;
  color: $palette-white;
  text-align: center;
  padding: 0;
  margin: 0;

  @include breakpoint($bp-medium) {
    line-height: 6em;
    display: inline-block;
    vertical-align: middle;
    float: right;
    height: 6em;
    color: $color-primary;
  }

  @include breakpoint($bp-large) {
    margin: auto;
  }
}

.nav-main-item {
  @include type-scale(base);
  padding: 1em 0;

  @include breakpoint($breakpoint-not-too-wide) {
    background-color: $color-base;

    &:hover {
      background-color: $color-secondary;
    }
  }

  @include breakpoint($bp-medium) {
    display: inline-block;
    padding: 0.5em;
    background-color: $color-secondary-background;
    position: relative;

    //transition: background-color 0.5s ease;
    &:after {
      display: block;
      position: absolute;
      left: 0;
      bottom: 15%;
      width: 0;
      height: 1px;
      background-color: $color-secondary;
      content: '';
      transition: width 0.5s;
    }

    &:hover:after {
      width: 100%;
    }
  }
}

.nav-social-list {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  color: $palette-white;
  content: none;
  display: none;

  // @include breakpoint($bp-medium) {
  //   display: none;
  // }
  @include breakpoint($bp-large) {
    display: inline-block;
    vertical-align: middle;
    float: right;
    height: 6em;
    color: $color-primary;
  }
}

.nav-social-item {
  @extend %vertical-align;
  content: none;

  @include breakpoint($bp-medium) {
    display: inline-block;
    padding: 0.5em;
    background-color: $color-secondary-background;
    position: relative;
    transition: color 0.5s;

    &:hover {
      color: $color-secondary;
    }
  }
}

/*
   Flex Navigation
   ========================================================================== */
.flex-nav {
  display: flex;
  width: 100%;
}

%flex-nav-item {
  display: flex;
  padding: 5px 10px;
  border: {
    left: 1px solid $palette-neutral-dark;
  };
  background-color: $palette-neutral-light;
  align-items: center;
  justify-content: center;
}

.flex-nav-item {
  @extend %flex-nav-item;

  &:hover {
    background-color: $palette-purple-dark;
  }
}

.flex-nav-item--search {
  @extend %flex-nav-item;
  @include flex(1);

  label {
    display: block;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }

  input {
    @include box-sizing(border-box);
    display: block;
    width: 100%;
  }
}
