/* ==========================================================================
   NAVIGATION
   ========================================================================== */
.nav-toggle {
  color: $color-primary;
  display: inline-block;
  float: right;
  padding-top: 2em;
  position: relative;
  cursor: pointer;
  background-color: $color-secondary-background;
  z-index: inherit;

  @include breakpoint($bp-medium) {
    display: none;
  }
}

.nav-main {
  position: absolute;
  background-color: $color-base;
  z-index: map-get($zindex, dropdown);
  margin: 0;
  padding: 0;
  top: -10em;
  left: 0;

  @include breakpoint($bp-medium) {
    position: relative;
    background-color: inherit;
    top: 0;
    left: 0;
  }
}

.nav-main-list {
  list-style: none;
  color: $palette-white;
  text-align: center;
  padding: 0;
  margin: 0;

  @include breakpoint($bp-medium) {
    line-height: 6em;
    display: inline-block;
    vertical-align: middle;
    float: right;
    height: 6em;
    color: $color-primary;
  }

  @include breakpoint($bp-large) {
    margin: auto;
  }
}

.nav-main-item {
  @include type-scale(base);
  padding: 1em 0;

  @include breakpoint($breakpoint-not-too-wide) {
    background-color: $color-base;

    &:hover {
      background-color: $color-secondary;
    }
  }

  @include breakpoint($bp-medium) {
    display: inline-block;
    padding: 0.5em;
    background-color: $color-secondary-background;
    position: relative;

    &:after {
      display: block;
      position: absolute;
      left: 0;
      bottom: 15%;
      width: 0;
      height: 1px;
      background-color: $color-secondary;
      content: '';
      transition: width 0.5s;
    }

    &:hover:after {
      width: 100%;
    }
  }
}

.nav-main-link {
  display: block;
  width: 100%;
  height: 100%;
}

.nav-social-list {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  color: $palette-white;
  content: none;
  display: none;

  @include breakpoint($bp-large) {
    display: inline-block;
    vertical-align: middle;
    float: right;
    height: 6em;
    color: $color-primary;
  }
}

.nav-social-item {
  @extend %vertical-align;

  a {
    display: inline-block;
    width: 100%;
    height: 100%;
  }

  @include breakpoint($bp-medium) {
    display: inline-block;
    position: relative;

    // a::after {
    //   padding: 5px;
    //   content: '';
    //   position: absolute;
    //   top: 50%;
    //   left: 50%;
    //   transform: translate(-50%, -50%);
    // }
  }
}

.nav-expand-link {
  padding: 0.5em;
  display: block;
  transition: all 0.2s ease-in-out;

  &:hover,
  &:active {
    transform: scale(1.5);
  }

  &:hover svg,
  &:active svg{
    @include svg-colors($color-secondary, true);
  }
}



/*
   Flex Navigation
   ========================================================================== */
.flex-nav {
  display: flex;
  width: 100%;
}

%flex-nav-item {
  display: flex;
  padding: 5px 10px;
  border: {
    left: 1px solid $palette-neutral-dark;
  };
  background-color: $palette-neutral-light;
  align-items: center;
  justify-content: center;
}

.flex-nav-item {
  @extend %flex-nav-item;

  &:hover {
    background-color: $palette-purple-dark;
  }
}

.flex-nav-item--search {
  @extend %flex-nav-item;
  @include flex(1);

  label {
    display: block;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }

  input {
    @include box-sizing(border-box);
    display: block;
    width: 100%;
  }
}
