/* ==========================================================================
   IMAGES
   ========================================================================== */
// @namespace svg "http://www.w3.org/2000/svg";
//
// .hide-me-from-older-browsers {
//   display: none;
//   visibility: hidden;
// }
//
// svg|g.hide-me-from-older-browsers {
//   display: inline;
//   visibility: visible;
// }

// background img using compass mixins
.cover {
  @include background-size(cover);
}

.contain {
  @include background-size(contain);
}

.ui-img,
%ui-img {
  background-image: url(#{$img}/sprites/sprite.svg);
  background-repeat: no-repeat;

  .no-svg & {
    background-image: url(#{$img}/ui-separate-std-sprite.png);
  }
}

.no-bleed {
  position: relative;

  &:after {
    @extend %ui-img;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 260px;
    height: 380px;
    content: ' ';
    background-position: 0 0;
    background-size: 380px;
  }
}

/*
   Utiliy class for SVG
   ========================================================================== */
//padding hack
//@cudos: Sarah Soueidan
.my-svg-container {
  position: relative;
  width: 10%;
  height: 0;
  padding-top: 10%;
}

.my-svg {
  position: absolute;
  top: 0;
  left: 0;

  //width: 100%; //only required for <img />
}

// iconss

svg {
  pointer-events: none;
  fill: currentColor;
}



path.basecolor {
  @include svg-colors($color-base-background, $color-secondary, true);
}

.basecolor {
  @include svg-colors($color-base-background, $color-secondary, true);
}

.icon {
  width: 1em;
  height: 1em;

  &:hover {
    @include svg-colors($color-base-background, $color-secondary, true);
    transition: color 0.5s;
  }

  &-small {
    width: 0.5em;
    height: 0.5em;
  }

  &-big {
    width: 1.5em;
    height: 1.5em;
  }

  &-primary {
    @include svg-colors($color-primary, $color-base, true);
  }

  &-secondary {
    @include svg-colors($color-base-background, $color-secondary, true);
  }
}

// #icon-gd-logo2 {
//     path:nth-of-type(1) {
//         fill: $color-base;
//     }
//     path:nth-of-type(2) {
//         fill: $color-secondary;
//     }
// }
