.modal-inset .close.pseudo-class-hover {
  opacity: 1;
}

.btn.pseudo-class-hover {
  background: #8cc63e;
}

.btn.pseudo-class-focus,
.btn.pseudo-class-active {
  background: #cff898;
}

.btn.pseudo-class-disabled {
  cursor: default;
  color: #fff;
  background: #3b444f;
}

.btn-brand.pseudo-class-hover {
  background: #1d508d;
}

.btn-highlight.pseudo-class-hover {
  background: #ffc83c;
}

.btn-neutral.pseudo-class-hover {
  background: #dbe6ec;
}

.flex-nav-item.pseudo-class-hover {
  background-color: #aaa;
}