/* ==========================================================================
   BUTTONS
   ========================================================================== */
// Buttons
//
// Just add your descriptive text about buttons here
//
// Styleguide 1

// General Styles
//
// These are the base buttons
//
// .btn                 - default button
// :hover               - hover state
// :focus               - focus state
// :active              - active state
// :disabled            - disabled state
// .is-disabled         - is disabled state
// ::-moz-focus-inner   - moz focus state
// --full               - full state
// .btn-medium - Size: Medium
// .btn-large - Size: Large
//
//Markup:
// <!-- Default button: -->
// <button type="submit" class="btn {$modifiers}">
//   Label
// </button>
// <!-- Link button: -->
// <a href="#" class="btn {$modifiers}">
//   Label
// </a>
//
// Styleguide 1.1
button {
  border: 0;
}

.btn {
  @include type-scale(base);

  font-family: $heading-font;
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 5px 10px;
  cursor: pointer;
  user-select: none;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
  text-decoration: none;
  color: #fff;
  border: 0;
  border-radius: 5px;
  background: $color-base;

  &:hover {
    background: $color-secondary;
  }

  &:focus,
  &:active {
    background: $color-tertiary;
  }

  &:disabled,
  &.is-disabled {
    cursor: default;
    color: #fff;
    background: $palette-neutral-dark;
  }

  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }

  // Button modifiers
  &-full {
    display: block;
    width: 100%;
  }

  &-medium {
    @include type-scale(medium);
  }

  &-large {
    @include type-scale(large);
  }
}

// Button color variations
@each $name, $theme in $themes {
  .btn-#{$name} {
    color: map-get($theme, contrast);
    background: map-get($theme, primary);

    &:hover {
      background: map-get($theme, secondary);
    }
  }
}

// // buttons using John W. Long alpha-attributes mixins

// // .button-istransparent {
// //   @include appearance(none);
// //   font-family: sans-serif;
// //   font-size: 14px;
// //   padding: 0.4em 1em 0.5em;
// //   -webkit-font-smoothing: antialiased;
// //   @include color-button(rgba(white, 0.8), rgba(black, 0.5));
// //   cursor: pointer;
// // }
