
// Converted Variables


// Custom Media Query Variables



.icon-GD-logo2 {
  background-image: url(/images/sprites/svg-symbols.png);
  background-position: 0px 0px;
  width: 310px;
  height: 380px;
}

.icon-cancel-circle {
  background-image: url(/images/sprites/svg-symbols.png);
  background-position: -310px 0px;
  width: 32px;
  height: 32px;
}

.icon-checkmark {
  background-image: url(/images/sprites/svg-symbols.png);
  background-position: -342px 0px;
  width: 32px;
  height: 32px;
}

.icon-envelop {
  background-image: url(/images/sprites/svg-symbols.png);
  background-position: -310px -32px;
  width: 32px;
  height: 32px;
}

.icon-facebook2 {
  background-image: url(/images/sprites/svg-symbols.png);
  background-position: -342px -32px;
  width: 32px;
  height: 32px;
}

.icon-github {
  background-image: url(/images/sprites/svg-symbols.png);
  background-position: -310px -64px;
  width: 32px;
  height: 32px;
}

.icon-home {
  background-image: url(/images/sprites/svg-symbols.png);
  background-position: -342px -64px;
  width: 32px;
  height: 32px;
}

.icon-linkedin {
  background-image: url(/images/sprites/svg-symbols.png);
  background-position: -310px -96px;
  width: 32px;
  height: 32px;
}

.icon-mail {
  background-image: url(/images/sprites/svg-symbols.png);
  background-position: -342px -96px;
  width: 32px;
  height: 32px;
}

.icon-menu {
  background-image: url(/images/sprites/svg-symbols.png);
  background-position: -310px -128px;
  width: 32px;
  height: 32px;
}

.icon-minus {
  background-image: url(/images/sprites/svg-symbols.png);
  background-position: -342px -128px;
  width: 32px;
  height: 32px;
}

.icon-paypal {
  background-image: url(/images/sprites/svg-symbols.png);
  background-position: -310px -160px;
  width: 32px;
  height: 32px;
}

.icon-phone {
  background-image: url(/images/sprites/svg-symbols.png);
  background-position: -342px -160px;
  width: 32px;
  height: 32px;
}

.icon-spinner {
  background-image: url(/images/sprites/svg-symbols.png);
  background-position: -310px -192px;
  width: 32px;
  height: 32px;
}

.icon-spinner2 {
  background-image: url(/images/sprites/svg-symbols.png);
  background-position: -342px -192px;
  width: 32px;
  height: 32px;
}

.icon-twitter {
  background-image: url(/images/sprites/svg-symbols.png);
  background-position: -310px -224px;
  width: 32px;
  height: 32px;
}

