
// Converted Variables


// Custom Media Query Variables



.no-svg .icon-address-book {
  background-image: url(/image/sprites/svg-symbols.png);
  background-position: 0px 0px;
  width: 32px;
  height: 32px;
}

.no-svg .icon-bubble {
  background-image: url(/image/sprites/svg-symbols.png);
  background-position: -32px 0px;
  width: 32px;
  height: 32px;
}

.no-svg .icon-cancel-circle {
  background-image: url(/image/sprites/svg-symbols.png);
  background-position: -64px 0px;
  width: 32px;
  height: 32px;
}

.no-svg .icon-cart {
  background-image: url(/image/sprites/svg-symbols.png);
  background-position: -96px 0px;
  width: 32px;
  height: 32px;
}

.no-svg .icon-checkmark {
  background-image: url(/image/sprites/svg-symbols.png);
  background-position: -128px 0px;
  width: 32px;
  height: 32px;
}

.no-svg .icon-cog {
  background-image: url(/image/sprites/svg-symbols.png);
  background-position: -160px 0px;
  width: 32px;
  height: 32px;
}

.no-svg .icon-coin-dollar {
  background-image: url(/image/sprites/svg-symbols.png);
  background-position: -192px 0px;
  width: 32px;
  height: 32px;
}

.no-svg .icon-cross {
  background-image: url(/image/sprites/svg-symbols.png);
  background-position: -224px 0px;
  width: 32px;
  height: 32px;
}

.no-svg .icon-envelop {
  background-image: url(/image/sprites/svg-symbols.png);
  background-position: -256px 0px;
  width: 32px;
  height: 32px;
}

.no-svg .icon-facebook2 {
  background-image: url(/image/sprites/svg-symbols.png);
  background-position: -288px 0px;
  width: 32px;
  height: 32px;
}

.no-svg .icon-folder-download {
  background-image: url(/image/sprites/svg-symbols.png);
  background-position: -320px 0px;
  width: 32px;
  height: 32px;
}

.no-svg .icon-folder-minus {
  background-image: url(/image/sprites/svg-symbols.png);
  background-position: -352px 0px;
  width: 32px;
  height: 32px;
}

.no-svg .icon-folder-open {
  background-image: url(/image/sprites/svg-symbols.png);
  background-position: 0px -32px;
  width: 32px;
  height: 32px;
}

.no-svg .icon-folder-plus {
  background-image: url(/image/sprites/svg-symbols.png);
  background-position: -32px -32px;
  width: 32px;
  height: 32px;
}

.no-svg .icon-folder-upload {
  background-image: url(/image/sprites/svg-symbols.png);
  background-position: -64px -32px;
  width: 32px;
  height: 32px;
}

.no-svg .icon-folder {
  background-image: url(/image/sprites/svg-symbols.png);
  background-position: -96px -32px;
  width: 32px;
  height: 32px;
}

.no-svg .icon-GD-logo2 {
  background-image: url(/image/sprites/svg-symbols.png);
  background-position: 0px -64px;
  width: 310px;
  height: 380px;
}

.no-svg .icon-github {
  background-image: url(/image/sprites/svg-symbols.png);
  background-position: -310px -64px;
  width: 32px;
  height: 32px;
}

.no-svg .icon-github2 {
  background-image: url(/image/sprites/svg-symbols.png);
  background-position: -342px -64px;
  width: 32px;
  height: 32px;
}

.no-svg .icon-google-plus2 {
  background-image: url(/image/sprites/svg-symbols.png);
  background-position: -310px -96px;
  width: 32px;
  height: 32px;
}

.no-svg .icon-hexagon {
  background-image: url(/image/sprites/svg-symbols.png);
  background-position: -342px -96px;
  width: 0px;
  height: 1px;
}

.no-svg .icon-home {
  background-image: url(/image/sprites/svg-symbols.png);
  background-position: -342px -96px;
  width: 32px;
  height: 32px;
}

.no-svg .icon-html5 {
  background-image: url(/image/sprites/svg-symbols.png);
  background-position: -310px -128px;
  width: 32px;
  height: 32px;
}

.no-svg .icon-image {
  background-image: url(/image/sprites/svg-symbols.png);
  background-position: -342px -128px;
  width: 32px;
  height: 32px;
}

.no-svg .icon-images {
  background-image: url(/image/sprites/svg-symbols.png);
  background-position: -310px -160px;
  width: 36px;
  height: 32px;
}

.no-svg .icon-info {
  background-image: url(/image/sprites/svg-symbols.png);
  background-position: -346px -160px;
  width: 32px;
  height: 32px;
}

.no-svg .icon-linkedin {
  background-image: url(/image/sprites/svg-symbols.png);
  background-position: -310px -192px;
  width: 32px;
  height: 32px;
}

.no-svg .icon-location2 {
  background-image: url(/image/sprites/svg-symbols.png);
  background-position: -342px -192px;
  width: 32px;
  height: 32px;
}

.no-svg .icon-mail {
  background-image: url(/image/sprites/svg-symbols.png);
  background-position: -310px -224px;
  width: 32px;
  height: 32px;
}

.no-svg .icon-menu {
  background-image: url(/image/sprites/svg-symbols.png);
  background-position: -342px -224px;
  width: 32px;
  height: 32px;
}

.no-svg .icon-minus {
  background-image: url(/image/sprites/svg-symbols.png);
  background-position: -310px -256px;
  width: 32px;
  height: 32px;
}

.no-svg .icon-notification {
  background-image: url(/image/sprites/svg-symbols.png);
  background-position: -342px -256px;
  width: 32px;
  height: 32px;
}

.no-svg .icon-paypal {
  background-image: url(/image/sprites/svg-symbols.png);
  background-position: -310px -288px;
  width: 32px;
  height: 32px;
}

.no-svg .icon-phone {
  background-image: url(/image/sprites/svg-symbols.png);
  background-position: -342px -288px;
  width: 32px;
  height: 32px;
}

.no-svg .icon-plus {
  background-image: url(/image/sprites/svg-symbols.png);
  background-position: -310px -320px;
  width: 32px;
  height: 32px;
}

.no-svg .icon-spinner {
  background-image: url(/image/sprites/svg-symbols.png);
  background-position: -342px -320px;
  width: 32px;
  height: 32px;
}

.no-svg .icon-spinner2 {
  background-image: url(/image/sprites/svg-symbols.png);
  background-position: -310px -352px;
  width: 32px;
  height: 32px;
}

.no-svg .icon-twitter {
  background-image: url(/image/sprites/svg-symbols.png);
  background-position: -342px -352px;
  width: 32px;
  height: 32px;
}

.no-svg .icon-warning {
  background-image: url(/image/sprites/svg-symbols.png);
  background-position: -310px -384px;
  width: 32px;
  height: 32px;
}

