/* ==========================================================================
   RESUME
   ========================================================================== */
.date-ranges {
  @include type-scale(medium);
  @include type-weight(regular);

  font-family: $heading-font;
  color: $color-secondary;
}


.job-end {
  &:before {
    content: ' - ';
  }
}
