/* ==========================================================================
   NAVIGATION
   ========================================================================== */
.inner-wrapper {
  transform: translate3d(0, 6em, 0);

  &.open {
    transform: translate3d(0, 18em, 0);
  }
}

.nav-toggle {
  position: relative;
  z-index: 2;
  display: inline-block;
  float: right;
  height: 6em;
  padding-top: 2em;
  cursor: pointer;
  background-color: $palette-white;

  @include breakpoint($bp-medium) {
    display: none;
  }
}

.nav-main {
  position: relative;
  z-index: 1;
  height: 6em;
  transform: translate3d(0, -18em, 0);

  @include breakpoint($bp-medium) {
    height: 6em;
    transform: translate3d(0, 0, 0);
    background-color: $palette-white;
  }

  &.open {
    transform: translate3d(0, 0, 0);
  }
}

.nav-main.nav-activated,
.inner-wrapper.nav-activated {
  transition: transform 0.4s ease;
}

.nav-main-list {
  @include reset-list;
  overflow: hidden;
  width: 100%;
  text-align: center;
  color: $palette-white;
  background-color: $color-secondary;

  @include breakpoint($bp-medium) {
    display: inline-block;
    color: $color-base;
    background-color: transparent;
  }
}

.nav-main-item {
  width: 100%;
  padding: 1em;

  &:hover {
    background-color: $color-base;
  }

  @include breakpoint($bp-medium) {
    line-height: 4em;
    display: inline-block;
    width: auto;
    height: 6em;
    padding: 0.75em;
    transition: background-position 0.5s ease-out;
    text-align: middle;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 1) 51%, rgba(255, 255, 255, 1) 100%);
    background-position: 0 -100%;
    background-size: auto 200%;

    &:hover {
      background-color: darken(#fff, 10%);
      background-position: 0 0;
    }
  }
}

/*
   Flex Navigation
   ========================================================================== */
.flex-nav {
  display: flex;
  width: 100%;
}

%flex-nav-item {
  display: flex;
  padding: 5px 10px;
  border: {
    left: 1px solid $palette-neutral-dark;
  };
  background-color: $palette-neutral-light;
  align-items: center;
  justify-content: center;
}

.flex-nav-item {
  @extend %flex-nav-item;

  &:hover {
    background-color: $palette-neutral-xlight;
  }
}

.flex-nav-item--search {
  @extend %flex-nav-item;
  @include flex(1);

  label {
    display: block;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }

  input {
    @include box-sizing(border-box);
    display: block;
    width: 100%;
  }
}
