/*
Error: Invalid CSS after "...tiny: font-size": expected ")", was ": ms(-2), small..."
        on line 64 of src/stylesheets/utils/_vars.scss
        from line 25 of src/stylesheets/main.scss

59: $fixed-font-size: 85%;
60: $fixed-line-height: $base-line-height;
61: // type weights
62: $type-weight: (thin: 200, light: 300, regular: 400, bold: 700, xtrabold: 900);
63: //font size
64: $font-size: (tiny: font-size: ms(-2), small: font-size: ms(-1), base: font-size: ms(0), medium: font-size: ms(1), large: font-size: ms(2), xlarge: font-size: ms(3), xxlarge: font-size: ms(4));
65: // Base Font
66: $base-font-family: $sans-serif-font;
67: $base-font-size: 16px;
68: $base-line-height: 26px;
69: // Rhythm unit (Compass vertical rhythm)

Backtrace:
src/stylesheets/utils/_vars.scss:64
src/stylesheets/main.scss:25
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/scss/parser.rb:1165:in `expected'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/script/lexer.rb:220:in `expected!'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/script/parser.rb:580:in `assert_tok'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/script/parser.rb:515:in `paren'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/script/parser.rb:498:in `special_fun'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/script/parser.rb:492:in `raw'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/script/parser.rb:406:in `funcall'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/script/parser.rb:387:in `ident'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/script/parser.rb:246:in `unary_not'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/script/parser.rb:246:in `unary_div'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/script/parser.rb:246:in `unary_minus'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/script/parser.rb:246:in `unary_plus'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/script/parser.rb:227:in `times_div_or_mod'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/script/parser.rb:227:in `plus_or_minus'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/script/parser.rb:227:in `relational'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/script/parser.rb:227:in `eq_or_neq'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/script/parser.rb:227:in `and_expr'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/script/parser.rb:227:in `or_expr'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/script/parser.rb:361:in `space'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/script/parser.rb:345:in `interpolation'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/script/parser.rb:293:in `expr'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/script/parser.rb:571:in `assert_expr'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/script/parser.rb:62:in `parse'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/scss/parser.rb:1027:in `sass_script'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/scss/parser.rb:607:in `variable'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/scss/parser.rb:660:in `block_child'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/scss/parser.rb:653:in `block_contents'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/scss/parser.rb:117:in `stylesheet'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/scss/parser.rb:42:in `parse'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/engine.rb:393:in `_to_tree'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/engine.rb:297:in `block in to_tree'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/util.rb:492:in `silence_sass_warnings'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/engine.rb:297:in `to_tree'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:323:in `block in visit_import'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/stack.rb:88:in `block in with_import'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/stack.rb:115:in `with_frame'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/stack.rb:88:in `with_import'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/stack.rb:79:in `block in with_base'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/stack.rb:115:in `with_frame'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/stack.rb:79:in `with_base'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:158:in `visit'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/visitors/base.rb:52:in `map'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/visitors/base.rb:52:in `visit_children'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/visitors/base.rb:36:in `block in visit'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/visitors/base.rb:36:in `visit'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:157:in `visit'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/visitors/perform.rb:8:in `visit'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/root_node.rb:36:in `css_tree'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/engine.rb:368:in `_render_with_sourcemap'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/engine.rb:286:in `block in render_with_sourcemap'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/util.rb:492:in `silence_sass_warnings'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/engine.rb:286:in `render_with_sourcemap'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/exec/sass_scss.rb:396:in `run'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/exec/sass_scss.rb:62:in `process_result'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/exec/base.rb:52:in `parse'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.10/lib/sass/exec/base.rb:19:in `parse!'
C:/RailsInstaller/Ruby2.1.0/lib/ruby/gems/2.1.0/gems/sass-3.4.10/bin/sass:13:in `<top (required)>'
C:/RailsInstaller/Ruby2.1.0/bin/sass:23:in `load'
C:/RailsInstaller/Ruby2.1.0/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...tiny: font-size\": expected \")\", was \": ms(-2), small...\"\A         on line 64 of src/stylesheets/utils/_vars.scss\A         from line 25 of src/stylesheets/main.scss\A \A 59: $fixed-font-size: 85%;\A 60: $fixed-line-height: $base-line-height;\A 61: // type weights\A 62: $type-weight: (thin: 200, light: 300, regular: 400, bold: 700, xtrabold: 900);\A 63: //font size\A 64: $font-size: (tiny: font-size: ms(-2), small: font-size: ms(-1), base: font-size: ms(0), medium: font-size: ms(1), large: font-size: ms(2), xlarge: font-size: ms(3), xxlarge: font-size: ms(4));\A 65: // Base Font\A 66: $base-font-family: $sans-serif-font;\A 67: $base-font-size: 16px;\A 68: $base-line-height: 26px;\A 69: // Rhythm unit (Compass vertical rhythm)";
}
